# Challenge 1

A and B are events of a certain probability space $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$.

Which are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

 1. Falso
 2. Verdadero
 3. Falso
 4. Falso
 5. Verdadero

# Challenge 2
We have an urn with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball.
* Taking a white ball after taking a black ball.
* Taking a red ball after taking a black and a red ball.
* Taking a red ball after taking a black and a red ball with reposition (that means after taking a ball I put it back to the urn).

In [2]:
#1
10/30

0.3333333333333333

In [5]:
#2
12/30

0.11034482758620691

In [6]:
8/29

0.27586206896551724

In [1]:
#3
12/30 * 8/29 * 11/28

0.043349753694581286

In [7]:
#4
12/30 * 8/30 * 12/30

0.042666666666666665

# Challenge 3

You are planning a picnic today, but the morning is cloudy. So you look for some data:
* 50% of all rainy days start off cloudy!
* But cloudy mornings are common (about 40% of days start cloudy)
* And this is usually a dry month (only 3 of 30 days (10%) tend to be rainy)

What is the chance of rain during the day?

P (cloudy|rain) = 0.5 P (cloudy) = 0.4 P (rain) = 0.10

P (rain|cloudy) = P (rain) * P(cloudy|rain)/P(cloudy) = 0.125

In [14]:
0.5 / 0.4

1.25


# Challenge 4
By conducting a telephone survey, we asked 1000 people if they thought it is necessary to have more street lighting at night.

We have met 480 men, 324 of which answered yes and 156 no, as well as 520 women, 351 of which answered yes and 169 no. We wonder if men and women have a different opinion or if gender is irrelevant to the question.

(To see more clearly what they told us, it is best to place the data in a table)

Consider the following events:

Wants more light (answered yes)
A man answered
We ask ourselves if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

In [15]:
import pandas as pd 
import numpy as np

In [17]:
genders = [['Man', 324/480,156/480, 480], ['Women', 351/520,169/520, 520]]

In [18]:
result = pd.DataFrame(genders, columns = ['Sex', 'Yes','No', 'Total']) 
result

     Sex    Yes     No  Total
0    Man  0.675  0.325    480
1  Women  0.675  0.325    520

No, the results are independet! Men are wamen say either 'no' or 'yes'